* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body.scrolled {
    background-color: #74c8f9; /*background color*/
    color: rgb(0, 0, 0); /*text color*/
    transition: background-color 0.3s ease;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0652f5;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .navbar ul li a:hover {
    color: #ff4081;
  }
  section {
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
  }